<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successfully Registered</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/png" href="{% static 'img/Black.png'%}">
    <link rel="stylesheet" href="{% static 'css/output.css' %}" type="text/css">
    <script>
        tailwind.config = {
            darkMode: 'class',
            theme: {
                extend: {
                    colors: {
                        primary: {"50":"#eff6ff","100":"#dbeafe","200":"#bfdbfe","300":"#93c5fd","400":"#60a5fa","500":"#3b82f6","600":"#2563eb","700":"#1d4ed8","800":"#1e40af","900":"#1e3a8a","950":"#172554"}
                    }
                },
                fontFamily: {
                    'body': [
                        'Inter', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 
                        'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 
                        'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 
                        'Noto Color Emoji'
                    ],
                    'sans': [
                        'Inter', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 
                        'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 
                        'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 
                        'Noto Color Emoji'
                    ]
                }
            }
        }
    </script>

    <style>
        body {
            background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
            background-size: 400% 400%;
            animation: gradient 9s ease infinite;
            height: 100vh;
        }
        
        @keyframes gradient {
            0% { background-position: 0% 50%; }
            50% { background-position: 100% 50%; }
            100% { background-position: 0% 50%; }
        }
    </style>
</head>

<body>
    <div class="w-full h-full flex flex-col lg:flex-row gap-6 items-center  justify-center px-6 py-8 mx-auto lg:py-0">
        <!-- Card Section -->
        <div class="bg-opacity max-w-md rounded py-6 px-6 shadow-lg flex flex-col items-center text-center">
            <div class="mb-4">
                <img class="w-32 h-32" src="https://i.imgur.com/cfaJe9M.png" alt="success-logo">
            </div>
            <div class="mb-4">
                <img class="w-16 h-16" src="https://i.imgur.com/w3JJmhB.png" alt="success-logo">
            </div>
            <p class="text-gray-800 p-3 text-base">
                Thank you for registering for Zero2Code Bootcamp!
            </p>
            <p class="text-gray-800 p-2 text-base">
                An email has been sent to your registered email address. See you in class.
            </p>
            <div class="pt-4 pb-2">
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#WebDev</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Programming</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Zero2Code</span>
            </div>
        </div>

        <!-- Image Section -->
        <div class="w-full lg:basis-1/2 flex items-center justify-center">
            <img class="max-w-full h-auto mt-6 lg:mt-0" src="https://i.imgur.com/n32jpoz.png" alt="Zero2Code Bootcamp">
        </div>
    </div>
</body>
</html>
